DB_PASSWORD="tu_password_seguro_aqui"
DATABASE_URL="mssql+pymssql://sa:tu_password_seguro_aqui@db:1433/lab4_reservas"
SECRET_KEY="cambia_esta_clave_por_una_muy_segura"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60